/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:rgba(255, 217, 0, 0.952);
  color: white;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
  /* padding: 20px; */
}

/* Left section of the navbar */
.navbar-left {
  flex: 1;
}
.logoimg{
  width:40px;
  height:40px;
  font-weight: bolder;
  margin-top: 10px;
  border-radius: 70px;

}
.logo {
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

/* Center section of the navbar */
.navbar-center {
  flex: 3;
  display: flex;
  justify-content: center;
}

.navbar-center span {
  margin: 0 15px;
  cursor: pointer;
}

/* Right section of the navbar */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Profile container styling */
.profile-container {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  cursor: pointer;
}

.profile-container span {
  font-size: 20px;
  cursor: pointer;
}

/* Profile dropdown styling */
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  width: 350px;
  color:#c0392b;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-size: 14px;
  max-height: 400px;
  overflow-y: auto;
}

/* Profile dropdown content */
.profile-dropdown p {
  margin: 5px 0;
  font-weight: 500;
}

.profile-dropdown ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

.profile-dropdown li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 8px;
}

/* Logout button styling */
.profile-dropdown button {
  margin-top: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-dropdown button:hover {
  background-color: #c0392b;
}
