.product-card {
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  